@mixin card() {
  .card-section {
    height: 100%;
    @include display-flex($flex-wrap: wrap);
    align-items: flex-start;
    margin-top: 5rem;

    .card {
      min-height: 200px;
      min-width: 400px;
      max-width: 600px;
      background-color: $secondary-color;
      @include display-flex($flex-direction: column);
      padding: 1rem 2.5rem;
      @content;
    }
  }
}
