@mixin display-flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $flex-wrap: nowrap
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}
